<%- include("partials/header") %>

    <!-- Nemoj da si i jedan hint pogledao da te ne bih izjebao -->


    <div class="container">
        <h1>About</h1>
        <p> <%= aboutParagraph %> </p>
    </div>

<%- include("partials/footer") %>