<%- include("partials/header") %>

    <!-- Nemoj da si i jedan hint pogledao da te ne bih izjebao -->

    <div class="container">
        <h1>Contact</h1>
        <p> <%= contactParagraph %> </p>
    </div>

<%- include("partials/footer") %>